
@font-face {
  font-family: 'iconfont';  /* project id 312086 */
  src: url('//at.alicdn.com/t/font_qdkd47zb5khdunmi.eot');
  src: url('//at.alicdn.com/t/font_qdkd47zb5khdunmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_qdkd47zb5khdunmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_qdkd47zb5khdunmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_qdkd47zb5khdunmi.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before { content: "\e6b8"; }

.icon-link:before { content: "\e6bf"; }

.icon-roundadd:before { content: "\e6d9"; }

.icon-add:before { content: "\e6da"; }

.icon-similar:before { content: "\e6e2"; }

.icon-share:before { content: "\e6f3"; }

.icon-file:before { content: "\e739"; }

.icon-magic:before { content: "\e74c"; }

