.content-area{
		width: 110%;
		height: 100%;
		padding: 0;
		margin: 0;
		overflow: auto;
		background: #262626;
		padding: 20px 10% 20px 40px;
		li{
			width: 100%;
			overflow: hidden;
			margin-bottom: 20px;
			background: #fff;
			padding: 10px 0;
			border-radius: 4px;
			transform: translateX(-20px);
			.title{
				width: 100%;
				padding:0 15px;
				margin-bottom: 15px;
				h3{
					height: 30px;
					margin: 0;
					font-size: 18px;
					font-weight: normal;
					border-bottom: 2px solid #e1e1e1;
					color: #4a4a4a;
					box-sizing: border-box;
					overflow: hidden;					
					span{
						border-bottom: 4px solid #e1e1e1;
						height: 28px;
						box-sizing: border-box;
						float: left;
					}
					em{
						float: right;
						font-style: normal;
						font-size: 12px;
						line-height: 30px;
						i{
							margin-left: 4px;
						}
					}
				}
			}
			.cell{
				width: 25%;
				height: 25vw;
				float: left;
				padding: 0 15px;
				margin-bottom: 10px;
				.img{
					width: 100%;
					height: 100%;
					border-radius: 4px;
					overflow: hidden;
					position: relative;
					transition: all .5s;
					img{
						width: 100%;
						height: 100%;
						display: block;
						margin: 0 auto;
					}
					.title{
						position: absolute;
						top: 0;
						right: 0;
						font-size: 13px;
						margin: 0;
						padding: 2px;
						width: auto;
						color: #fff;
						background: rgba(0,0,0,0.4);
					}
					.video-info{
						position: absolute;
						bottom: 35px;
						left: 0;
						width: 100%;
						background: rgba(0,0,0,0.6);
						padding: 3px 10px;
						color: #fff;
						font-size: 12px;
						line-height: 20px;
						transition: all .5s;
						transform: translateY(100%);
						.name{
							font-size: 14px;
							line-height: 30px;
							span{
								float: right;
								font-size: 12px;
							}
						}
					}
					&:hover{
						transform: translateY(-5px);
						box-shadow: 3px 3px 10px 5px #ccc;
						.video-info{
							transform: translateY(0);
							bottom: 0;
						}
					}
				}
			}
		}
	}